.fz20 {
  font-size: 20px;
  line-height: 1.5;
}
.lh32 {
  line-height: 1.5;
}
.fz24 {
  font-size: 24px;
  line-height: 1.5;
}
.ls-1 {
  letter-spacing: 12px;
}
.ls-2px {
  letter-spacing: 2px;
}
.lh2 {
  line-height: 1.4;
}
.fz18 {
  font-size: 18px;
  line-height: 1.5;
}
.fz16 {
  font-size: 16px;
  line-height: 1.5;
}
.scroll-y {
  overflow-y: auto;
}
