.info {
  .nav-active {
    font-weight: bold;
    border-bottom: 5px solid #ffdf65;
  }
  .btn-primary2:hover,
  .btn-primary2:focus,
  .btn-primary2:active:hover {
    background-color: brown;
    border-color: brown;
    color: #fff;
  }
}
